<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>我的生活</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
	<link rel="stylesheet" th:href="@{/css/frontend/frontendIndex.css}">
	<!--swiper 插件-->
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css}">
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css}">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>


<!--	因为额外引入了webjars-locator，所以相关静态资源的引入可省略版本号便于升级-->
<!--	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>-->
<!--	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->
<!--	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>-->
<!--&lt;!&ndash;	引入页面提示工具&ndash;&gt;-->
<!--	<script th:src="@{/build/toastr.min.js}"></script>-->
<!--	<link th:href="@{/build/toastr.css}" rel="stylesheet" />-->
<!--	<link th:href="@{/build/toastr.min.css}" rel="stylesheet" />-->
<!--&lt;!&ndash;	-confirm工具&ndash;&gt;-->
<!--	<script type="text/javascript" th:src='@{/js/wechat/commonJs.js}' charset='utf-8'></script>-->
<!--	<script th:src="@{/js/common/jquery-confirm.min.js}"></script>-->
<!--	<link rel="stylesheet" th:href="@{/css/jquery-confirm.min.css}">-->
</head>
<body>
	<div class="page-group">
		<div class="page">
			<header class="bar bar-nav">
				<!-- <a class="button button-link button-nav pull-left" href="/demos/card" data-transition='slide-out'>
                      <span class="icon icon-left"></span>
                      返回
                  </a> -->
				<h1 class="title">校园活动管理系统</h1>
			</header>
			<nav class="bar bar-tab">
				<a class="tab-item active" href="#"> <span
					class="icon icon-home"></span> <span class="tab-label">首页</span>
				</a> <a class="tab-item" href="#" id='me'> <span class="icon icon-me"></span>
					<span class="tab-label">我</span>
				</a>
			</nav>
			<div class="content">
				<!-- 这里是页面内容区 -->
				<!-- 这里是页面内容区 轮播图展示图-->
				<div class="swiper-container index-banner" data-space-between='10'>
					<div class="swiper-wrapper" data-autoplay="2000" data-loop=true data-autoplay-disable-on-interaction=false >
<!--						<div class="swiper-slide img-wrap">-->
<!--                                <img class="banner-img" src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1n3rZHFXXXXX9XFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt="">-->
<!--                            </div>-->
<!--                            <div class="swiper-slide img-wrap">-->
<!--                                <img class="banner-img" src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i4/TB10rkPGVXXXXXGapXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt="">-->
<!--                            </div>-->
<!--                            <div class="swiper-slide img-wrap">-->
<!--                                <img class="banner-img" src="//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i1/TB1kQI3HpXXXXbSXFXXXXXXXXXX_!!0-item_pic.jpg_320x320q60.jpg" alt="">-->
<!--                            </div>-->
					</div>
					<div class="swiper-pagination"></div>
				</div>
				<!--全类查询区，点击查询全部类别-->
				<div class='total-shop-button'>
					<a href="/frontend/getallactivity" external>全部活动</a>
				</div>
				<!---列类别展示区-->
				<div class="row">
					<!-- <div class="col-50 shop-classify">
                            <div class='word'>
                                <p class='shop-title'>本期推荐</p>
                                <p class='shop-desc'>近期相关活动、新款上市、旅游资讯</p>
                            </div>
                            <div class='shop-classify-img-warp'>
                                <img class='shop-img' src="static/index/display13.png">
                            </div>
                        </div> -->
				</div>
			</div>
		</div>
		<!--侧边栏  -->
		<div class="panel-overlay"></div>
		<div class="panel panel-right panel-reveal" id="panel-left-demo">
			<div class="content-block">
				<p>
					<a href="/myo2o/frontend/myrecord" class="close-panel">我的组织</a>
				</p>
				<p>
					<a href="/myo2o/frontend/mypoint" class="close-panel">我的活动</a>
				</p>
				<p>
					<a href="/myo2o/frontend/mypoint" class="close-panel">我的标签</a>
				</p>
				<p>
					<a href="/myo2o/frontend/mypoint" class="close-panel">我的通知</a>
				</p>
				<p>
					<a href="/myo2o/frontend/pointrecord" class="close-panel">个人设置</a>
				</p>
				<!-- Click on link with "close-panel" class will close panel -->
			</div>
		</div>
	</div>
	<script type='text/javascript' th:src='@{//g.alicdn.com/sj/lib/zepto/zepto.min.js}' charset='utf-8'></script>
	<script type='text/javascript' th:src='@{//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js}' charset='utf-8'></script>
	<script type='text/javascript' th:src='@{//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js}' charset='utf-8'></script>
	<script type='text/javascript' th:src='@{/js/frontend/index.js}' charset='utf-8'></script>
	<script>
// 		var mySwiper = new Swiper ('.swiper-container', {
// 			autoplay: 2000,
// 			// direction: 'vertical',
// 			loop: true,
// 			speed:2000,
//
// //     // 如果需要分页器
// //        pagination: '.swiper-pagination',
//
// //     // 如果需要前进后退按钮
// 			nextButton: '.swiper-button-next',
// 			prevButton: '.swiper-button-prev',
//
// //     // 如果需要滚动条
// //    scrollbar: '.swiper-scrollbar',
// 		})
	</script>
</body>
</html>
