<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>活动详情</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet"
	href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<link rel="stylesheet"
	href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
<link rel="stylesheet"
	th:href="@{/css/frontend/organizationdetail.css}">
	<link rel="stylesheet"
		  th:href="@{/css/frontend/activitylist.css}">
</head>
<body>
	<div class="page-group">
		<div class="page">
			<header class="bar bar-nav">
				<a class="button button-link button-nav pull-left" external href="#"
					onClick="javascript :history.back(-1);" data-transition='slide-out'>
					<span class="icon icon-left"></span> 返回
				</a>
				<h1 class="title" id="activity-name">组织详情</h1>
			</header>
			<!--工具栏-->
			<nav th:replace="frontend/common::tool"></nav>
<!--			<nav class="bar bar-tab">-->
<!--				<a class="tab-item" href="/frontend/index" external> <span-->
<!--					class="icon icon-home"></span> <span class="tab-label">首页</span>-->
<!--				</a> <a class="tab-item" href="#" id="me"> <span-->
<!--					class="icon icon-me"></span> <span class="tab-label">我</span>-->
<!--				</a>-->
<!--			</nav>-->
			<!--无极滚动区-->
			<div class="content infinite-scroll infinite-scroll-bottom"
				data-distance="100">
				<!-- 这里是页面内容区，展示活动详情 -->
				<div class="shop-detail-dev">
					<div class="card">
						<div valign="bottom"
							class="card-header color-white no-border no-padding">
							<img class='card-cover' id="shop-cover-pic" src="" alt="">
						</div>
						<div class="card-content">
							<div class="card-content-inner">
								<p class="color-gray">
									<span id="like-count"></span>人关注&nbsp&nbsp
									<span id="activity-count"></span>个活动
								</p>
								<p ><span class="color-gray">上级组织：</span><span id="parent-organization"></span></p>
								<p ><span class="color-gray">组织名称：</span><span id="organization-name"></span></p>
								<p>
									<span class="color-gray">组织简介：</span><span id="organization-desc"></span>
								</p>
<!--								<p class="color-gray">-->
<!--									<span id="shop-update-time"></span>-->
<!--								</p>-->
<!--								<p id="shop-name"></p>-->
<!--								<p id="shop-desc"></p>-->
<!--								<p id="shop-addr"></p>-->
<!--								<p id="shop-phone"></p>-->
							</div>
						</div>
						<div class="card-footer" id="organization-operation">
<!--							 <a href="#" class="link">赞</a> -->
<!--							 <a href="#" class="link">更多</a> -->
						</div>

					</div>
				</div>
				<!--活动类别展示区-->
				<div class="shopdetail-button-div" id="category-button-div">
					<!-- <a href="#" class="button">所有货物</a>
                        <a href="#" class="button">吃的</a>
                        <a href="#" class="button">喝的</a>
                        <a href="#" class="button">Usual Button 1</a>
                        <a href="#" class="button">Usual Button 1</a>
                        <a href="#" class="button">Usual Button 1</a> -->
				</div>
				<!--活动标签展示区-->
				<div class="shopdetail-button-div" id="tags-button-div">
					<!-- <a href="#" class="button">所有货物</a>
                        <a href="#" class="button">吃的</a>
                        <a href="#" class="button">喝的</a>
                        <a href="#" class="button">Usual Button 1</a>
                        <a href="#" class="button">Usual Button 1</a>
                        <a href="#" class="button">Usual Button 1</a> -->
				</div>
				<!---搜索区域-->
				<div class="detail-search">
					<div class="searchbar">
						<a class="searchbar-cancel">取消</a>
						<div class="search-input">
							<label class="icon icon-search" for="search"></label> <input
								type="search" id='search' placeholder='输入活动关键字...' />
						</div>
					</div>
				</div>
				<!---活动状态选择区域-->
				<div class="select-wrap">
					<select class="select" id="area-search">
						<option value="">全部活动</option>
						<option value="未开始">未开始</option>
						<option value="正在进行">正在进行</option>
						<option value="已结束">已结束</option>
					</select>
				</div>
				<!--微信公众号二维码--->
				<div class="" id="organizationImg-list"></div>
				<!---活动列表展示区--->
				<div class="list-div activity-list">
					<!-- <div class="card">
                            <div class="card-header">传统火锅店</div>
                            <div class="card-content">
                                <div class="list-block media-list">
                                    <ul>
                                        <li class="item-content">
                                            <div class="item-media">
                                                <img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="44">
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-subtitle"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-footer">
                                <span>2015/01/15</span>
                                <span>5 评论</span>
                            </div>
                        </div> -->
				</div>
				<!---这里展示活动界面--->
				<div class="infinite-scroll-preloader">
					<div class="preloader"></div>
				</div>
			<!---无极滚动区结束--->
			</div>
		</div>
		<!--侧边栏  -->
		<div th:replace="frontend/common::beside"></div>
	</div>
	<script type='text/javascript'
		src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
	<script type='text/javascript'
		src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
	<script type='text/javascript'
		src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
	<script type='text/javascript'
		th:src='@{/js/common/commonutil.js}' charset='utf-8'></script>
	<script type='text/javascript'
		th:src='@{/js/frontend/organizationdetail.js}' charset='utf-8'></script>
</body>
</html>
