<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>组织管理活动首页</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css"/>
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">-->
    <script th:src="@{/layui/layui.js}"></script>
    <!--因为额外引入了webjars-locator，所以相关静态资源的引入可省略版本号便于升级-->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <!--引入页面提示工具-->
        <script th:src="@{/build/toastr.min.js}"></script>
        <link th:href="@{/build/toastr.css}" rel="stylesheet" />
        <link th:href="@{/build/toastr.min.css}" rel="stylesheet" />
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头部-->
    <div th:replace="organization/common::head"></div>
    <!--侧边栏-->
    <div th:replace="organization/common::side"></div>
    <!--内容主体-->
    <div class="layui-body" id="body">
        <!-- 内容主体区域 -->
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>申请活动</legend>
        </fieldset>
        <form class="layui-form"  method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">活动名称</label>
                <div class="layui-input-block">
                    <input type="text" name="activityName" id="activityName" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">活动地点</label>
                <div class="layui-input-block">
<!--                  //  <input type="text" name="place" id="place" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">-->
                    <select name="placeString" id="placeString" lay-filter="aihao">
                        <option th:each="place:${places}" th:text="${place.placeName}">Name</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">开始时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="startTime1" id="startTime" lay-verify="required" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">结束时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="endTime1" id="endTime" lay-verify="required" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">活动经费</label>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="text" id="minPrice" name="minPrice" placeholder="￥" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline" style="width: 100px;">
                        <input type="text" id="maxPrice" name="maxPrice" placeholder="￥" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">活动类型</label>
                <div class="layui-input-block">
                    <select name="activityCategory" id="activityCategory" lay-filter="aihao">
                        <option th:each="category : ${categorys}" th:text="${category.activityCategoryName}">Name</option>
<!--                        <option value=""></option>-->
<!--                        <option value="0">志愿服务</option>-->
<!--                        <option value="1">学科竞赛</option>-->
<!--                        <option value="2">讲座</option>-->
<!--                        <option value="3">社团活动</option>-->
<!--                        <option value="4">兴趣爱好</option>-->
                    </select>
                </div>
            </div>
<!--            <div class="layui-form-item">-->
<!--                <label class="layui-form-label">活动标签</label>-->
<!--                <div class="layui-input-block">-->
<!--                    <input type="checkbox" name="like[write]" title="写作">-->
<!--                    <input type="checkbox" name="like[read]" title="阅读" checked="">-->
<!--                    <input type="checkbox" name="like[game]" title="游戏">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="layui-form-item" pane="">-->
<!--                <label class="layui-form-label">原始复选框</label>-->
<!--                <div class="layui-input-block">-->
<!--                    <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作" checked="">-->
<!--                    <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">-->
<!--                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏" disabled="">-->
<!--                </div>-->
<!--            </div>-->
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">活动简介</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" class="layui-textarea" name="activityDesc" id="activityDesc"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
              <label class="layui-form-label">编辑器</label>
              <div class="layui-input-block">
                <textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="LAY_demo_editor"></textarea>
              </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button id="commit" class="layui-btn layui-btn-lg layui-btn-radius layui-btn-danger"
                            lay-submit="lay-submit" lay-filter="demo1">提交申请
                    </button>
                    <button type="reset" class="layui-btn layui-btn-lg layui-btn-radius layui-btn-primary">
                        重置
                    </button>
                </div>
            </div>
            <button type="button" class="layui-btn" id="test3"><i class="layui-icon"></i>上传策划书</button>
        </form>
    </div>
    <!--底部-->
    <div th:replace="organization/common::foot"></div>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function() {
        var element = layui.element;

    });
</script>
<!--表单相关脚本-->
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //日期选择器
        laydate.render({
            elem: '#startTime'
            ,type:'datetime'
        });
        laydate.render({
            elem: '#endTime'
            ,type:'datetime'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 0){
                    return '活动名称不能为空';
                }
            }
            ,pass: [
                /^[\S]{6,12}$/
                ,'密码必须6到12位，且不能出现空格'
            ]
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });

        //监听指定开关
        form.on('switch(switchTest)', function(data){
            layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        //监听提交,如果监听提交，就无法将信息返回到后台了
        // form.on('submit(demo1)', function(data){
        //     layer.alert(JSON.stringify(data.field), {
        //         title: '最终的提交信息'
        //     })
        //     return false;
        // });
    });
</script>
<!--文件上传相关脚本-->
<script>
    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //普通图片上传

        //多图片上传

        //指定允许上传的文件类型
        upload.render({
            elem: '#test3'
            ,url: '/organization/activityOperate/apply'
            ,accept: 'file' //普通文件
            ,done: function(res){
                console.log(res)
            }
        });
        //设定文件大小限制
        //同时绑定多个元素，并将属性设定在元素上
        //选完文件后不自动上传
        //拖拽上传
        //多文件列表示例
        //绑定原始文件域
    });
</script>
<script>
    layui.use('layer', function(){
        var layer = layui.layer;
        // $('#commit').click(function () {
        //     layer.msg('提交成功！');
        // });
        $('#commit').click(function() { //点击提交的时候响应，获取提交的内容，表单提交的属性id是“submit”
            var activity = {};//变量，json对象
            //var personInfo = {};//变量，一个json对象
            activity.activityName = $('#activityName').val();//前端规定的控件名字userName
            //localAuth.password = $('#password').val();//前端规定的控件名字password
            activity.startTime = $('#startTime').val();
            activity.endTime=$('#endTime').val();
            activity.minPrice=$('#minPrice').val();
            activity.maxPrice=$('#maxPrice').val();
            activity.activityDesc=$('#activityDesc').val();
            var activityCategory=$('#activityCategory option:selected').val();
            var place=$('#placeString option:selected').val();
            var formData = new FormData(); //接受表单内容
            formData.append('activity', JSON.stringify(activity)); //传送参数
            formData.append('activityCategory',activityCategory);
            formData.append('place',place);
            //用Ajax将表单提交到后台
            $.ajax({
                url : '/organization/activityOperate/apply', //
                type : 'POST', //用post方法提交
                data : formData, //传送formData
                contentType : false,//文件，名字
                processData : false,
                cache : false,
                //回调
                success : function(data) { //接受到后台返回的data信息，这里要实现定义一个后台方法，这里data就是返回的json字符串
                    if (data.success) {
                        alert("提交成功");
                        layer.msg('提交成功！');
                        window.location.href = '/organization/index';
                    }
                    else {
                        var errMsg=data.errMsg;
                        alert("提交失败"+errMsg);
                        layer.msg('提交失败！'+errMsg);
                        //window.location.href ='/user/toRegister';
                    }
                }
            });
        });
    });
</script>
<script>
</script>
</body>
</html>