<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>组织管理活动首页</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头部-->
    <div th:replace="organization/common::head"></div>
    <!--侧边栏-->
    <div th:replace="organization/common::side"></div>
    <!--内容主体-->
    <div class="layui-body" id="body">
        <!-- 内容主体区域 -->
        <h2 style="padding: 15px;">公告管理</h2>
            <div class="layui-row">
            <div class="layui-row">
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                    <hr>活动名称</hr>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                    <hr>发布时间</hr>
                </div>
            </div>
            <hr class="layui-bg-black">
            <div class="layui-row" style="margin-top: 50px;text-align: center;">
                <fieldset class="layui-elem-field">
                    <legend style="font-weight: 700"><i class="fa fa-heart" style="color: #FF5722;"></i>公告详情<i class="fa fa-heart" style="color: #FF5722;"></i></legend>
                    <div class="layui-field-box desc">
<!--                        <p th:text="${product.desc}"></p>-->
<!--                        <hr class="layui-bg-green" />-->
                    </div>
                </fieldset>
            </div>
            <div class="layui-row" style="margin-top: 50px;text-align: right;">
                <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;">
                    <div>
                        <button class="layui-btn">修改</button>
                        <button class="layui-btn layui-btn-normal">删除</button>
                    </div>
                </fieldset>
            </div>
            <div class="layui-row" style="margin-top: 60px;text-align: center;">
                <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;">
                    <div>
                        <button class="layui-btn">发公告</button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
        <!--底部-->
    <div th:replace="organization/common::foot"></div>
</div>
    <script th:src="@{/layui/layui.js}"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function() {
            var element = layui.element;

        });
    </script>
</body>
</html>