<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>组织注册</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body class="container">
<div class="layui-layout layui-layout-admin">
<!--&lt;!&ndash;头部模块&ndash;&gt;-->
<!--<div th:replace="organization/common::head"></div>-->
    <div class="layui-body" id="body">
        <!-- 内容主体区域 -->
<br/>
<h1 class="layui-btn">组织注册</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal"   th:action="@{/organization/register}"   method="post">
        <div class="form-group">
            <label for="organizationName" class="col-sm-2 control-label">组织名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="organizationName"  id="organizationName" placeholder="组织名称"/>
            </div>
        </div>
        <div class="form-group">
            <label for="organizationImg" class="col-sm-2 control-label">组织logo</label>
            <div class="col-sm-10">
                <input type="file" class="form-control" name="organizationImg"  id="organizationImg" />
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label" >登录密码</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label" >确认密码</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" placeholder="Password"/>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label" >登录邮箱</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="email" id="email" placeholder="email"/>
            </div>
        </div>
        <div class="form-group">
            <label for="wechatAccount" class="col-sm-2 control-label" >微信公众号名称</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="wechatAccount" id="wechatAccount" placeholder="wechatAccount"/>
            </div>
        </div>
        <div class="form-group">
            <label for="wechatImg" class="col-sm-2 control-label">微信公众号二维码</label>
            <div class="col-sm-10">
                <input type="file" class="form-control" name="wechatImg"  id="wechatImg" />
            </div>
        </div>
        <div class="form-group">
            <label for="parent" class="col-sm-2 control-label" >所属组织</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="parent" name="parent" placeholder="Password"/>
            </div>
        </div>
        <div class="form-group" >
            <label for="parent" class="col-sm-2 control-label" >所属组织</label>
            <div class="col-sm-10">
                <select id="parent2" name="parent2">
                    <option th:each="top : ${hxf2}" th:text="${top.organizationName}">Name</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="teacher" class="col-sm-2 control-label" >所属审核老师</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="teacher" name="teacher" placeholder="teacher"/>
            </div>
        </div>
        <div class="form-group">
            <label for="organizationDesc" class="col-sm-2 control-label">组织简介</label>
            <div class="col-sm-10">
                <textarea id="organizationDesc" name="organizationDesc" placeholder="组织简介" ></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <input type="reset" value="Reset" class="btn btn-info" />
            </div>
        </div>
    </form>
</div>
    </div>
    <!--底部-->
    <div th:replace="organization/common::foot"></div>
</div>
<!--这段代码显示子列表-->
<script>
    //JavaScript代码区域
    layui.use('element', function() {
        var element = layui.element;

    });
</script>
</body>
</html>
